.messageContainer {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    line-height: 0;
}

.messageContainer > div {
    display: inline-block;
    padding: 1em;
    border: 2px solid #f00;
}

.blue {
    color: blue;
}

.red {
    color: red;
}